{% extends "ingreso.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Productos por Clientes{% endblock %}

{% block page_content %}
<div class="page-header">    
    {{ wtf.quick_form(form) }}
    <a href="/exportar/" style="color: black">Exportar a .CSV</a>
    <u1>
    {% for x in clientes %}
    <li>{{ x }}<a href="/productos/{{ x }}"> Link</a></li>
    {% endfor %}
    </u1>
</div>
<style>
table {
    font-family: arial, sans-serif;
    border: 1px solid black;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}
</style>

<table>
    <tr>
        <th>CODIGO</th>
        <th>PRODUCTO</th>
        <th>CLIENTE</th>
        <th>CANTIDAD</th>
        <th>PRECIO</th>
    </tr>
        {% for x in listar %}
    <tr>
        <td>{{ x.codigo }}</td>
        <td>{{ x.producto }}</td>
        <td>{{ x.cliente }}</td>
        <td>{{ x.cantidad }}</td>
        <td>{{ x.precio }}</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}

